h1{
    text-align: left;
    margin: 0;
    padding: 30px 50px;

}
h1 a{
    font-size: 0.3em;
    padding: 0 15px;
}

h1 a:hover{
    text-decoration: underline;
}

.error{
    color: #FAD29E;
    text-align: center;
    padding: 0;
    margin: 5px;
}

