*{outline: 0 !important;}
form{
    margin: 50px auto;
    padding: 50px;
    background: #161A1E;
    border: 1px solid #D5D5D5;
}
#register , #login{
    width: 450px;
    height: 250px;
}
#addWord{
    width: 450px;
    height: 230px;
}
form h2{
    margin: 0 0 30px 0;
    color: #9EC6FA;
    text-align: center;
}
.error{
    color: #FAD29E;
    text-align: center;
    padding: 0;
    margin: 5px;
}
input[type="text"], input[type="password"]{
    float: right;
    width: 200px;
    height: 30px;
    font: 14pt Monospace;
    padding: 0 5px;
    margin: 5px 0;
    background: #D5D5D5;
    border: 1px solid #42454C;
}
label{
    color: #D5D5D5;
    line-height: 50px;
}
input[type="submit"]{
    font: 18pt Corbel;
    margin: 20px 140px;
    width: 175px;
    height: 40px;
    background: #9EC6FA;
    border: 1px solid #42454C;
}
input[type="text"]:hover, input[type="submit"]:hover{
    border: 1px solid #D5D5D5;
}