<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>LearnWords</title>
</head>
<body>
<header th:insert="~{fragments/header :: menu}"></header>
<main>
    <h1>Welcome to LearnWords</h1>
    <p>This app can help you to learn foreign words or phrases.</p>
    <p>You should register to create your own data base. When you have an account you can create catalogs for words,
        update and delete them.</p>
    <p>For adding words, you need create catalog open it and add new card with form.</p>
    <p>To learn words, you need to open the catalog, make sure that there are cards in it, and click the "Learn" link,
        after which a page with cards opens.</p>
</main>
</body>
</html>