<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/cards.css}" rel="stylesheet" type="text/css">
    <title>LearnWords</title>
</head>
<body>
<header th:insert="~{fragments/header :: menu}"></header>
<main>
    <h1>Welcome to LearnWords</h1>
    <p>This app can help you to learn foreign words or phrases.
    For this, you need to add word and then it appears on cards page.</p>
</main>

</body>
</html>