<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/learnCards.css}" rel="stylesheet" type="text/css">
    <title>LearnWordsOnCards</title>
</head>
<body>
<header th:insert="~{fragments/header :: menu}"></header>
<main>
    <th:block th:if="${card == null}">
        <p>Choose word to learn</p>
        <th:block th:each="catalog : ${catalogList}">
            <a th:href="@{/card/add}"><p th:text="${catalog.name}"></p></a>
        </th:block>
        <p th:text="${message}"></p>

    </th:block>
    <th:block th:if="${card != null}">
        <div id="card"> <!--th:if="${card != null}"-->
            <p th:if="${isWord}" th:text="${card.word}"></p>
            <p th:unless="${isWord}" th:text="${card.translation}"></p>
        </div>
        <div id="buttons">
            <a th:href="@{'/learn?id='+${card.id}+'&isWord=false'}">
                <button>Translate</button>
            </a>
            <a th:href="@{'/learn?id='+${card.id+1}+'&isWord=true'}">
                <button>Next</button>
            </a>
        </div>
    </th:block>
</main>

</body>
</html>